.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.canvas {
    order: 1;
    background-color: lightgray;
    padding: 20px;
}

.menu {
    order: 2;
    background-color: lightblue;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 20px); /* Adjust the value as needed to leave space for other elements */
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .canvas {
        order: 1;
    }

    .menu {
        order: 2;
    }
}
